*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    font-size: 2em;
    font-family: monospace;
    color: aliceblue;
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/img5.jpg');
    background-size: cover;
}

.registro {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


.entrada {
    position: relative;
    margin: 30px;
    width: 270px;
    border-bottom: 2px solid #fff;
}
input:focus ~ label,
input:valid ~ label{
    top: 5px;
}

.entrada label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
}

.entrada input {
    width: 60%;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    padding: 10px 0 5px;
    color: #fff;
}

.entrada ion-icon {
    position: absolute;
    color: #fff;
    font-size: 1.2em;
    right: 8px;
    top: 20 px;
}

button{
    margin-left: 70px;
    width: 60%;
    height: 40px;
    border-radius: 40px;
    background-color:#0071ff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
 }

button a{
    text-decoration: none;
    color: #fff;
}