@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;

}
:root{
	--bg-color: #ffffff;
	--text-color: #111111;
	--main-color: #0071ff;
	--big-font: 4.5rem;
	--h2-font: 3.3rem;
	--h3-font: 2rem;
	--normal-font: 1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
    
}
header{
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 14%;
	transition: all .35s ease;
	background-color: var(--text-color);
}
.logo{
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--bg-color);
}
.navlist{
	display: flex;
}
.navlist li{
	list-style: none;
}
.navlist a{
	color: var(--bg-color);
	font-weight: 600;
	padding: 10px 25px;
	font-size: var(--normal-font);
	transition: all .36s ease;
}
.navlist a:hover{
	color: var(--main-color);
}
.header-icons i{
	font-size: 32px;
	color: var(--bg-color);
	margin-right: 20px;
	transition: all .36s ease;
}
.header-icons i:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 34px;
	color: var(--text-color);
	z-index: 10001;
	margin-right: 20px;
	display: none;
}


@media (max-width: 670px){
	#menu-icon{
		display: block;
		cursor: pointer;
        color: var(--bg-color);
	}
	.header-icons{
		display: inline-flex;
	}
	.navlist{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: var(--text-color);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 150px 30px;
		transition: all .45s ease;
        color: var(--bg-color);
	}
	.navlist a{
		display: block;
		margin: 1.2rem 0;
        color: var(--bg-color);
	}
	.navlist.open{
		left: 0;
	}
}

.contenedor{
    max-width: 100%;
    padding:0 3em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:10px 10px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: #fff;
    color: black;
    padding: 5px 15px;
    cursor: pointer;
	font-size: 2em;
    border-radius: 30px;
}
/* seccion carrito */

.carrito{   
    float: inline-end;
    border-radius: 30px;
    width: 30%;
    margin-top: 0;
    border-radius: 10px;
    overflow: hidden;
    top: 5em;
    transition: .3s;
    display: none;
	margin-right: 2em;
}
.carrito .header-carrito{
    background-color: var(--text-color);
    color: #fff;
    text-align: center;
    padding: 30px 0;
    border-radius: 10px;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #FFF;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar, .btn-cancelar{
    display: block;
    width: 100%;
    border: none;
    background: var(--text-color);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
	margin-top: 1em;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
.carrito-total .btn-cancelar:hover{
    scale: 1.05;
}

.contenido{
	margin-top: 5em;
}

.top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
.top i{
	font-size: 22px;
	color: var(--bg-color);
	padding: 14px;
	background: var(--text-color);;
	border-radius: 2rem;
}

@media screen and (max-width: 1000px){
	header{
		padding: 7px 4%;
		transition: .2s;
	}
	header.sticky{
		padding: 14px 4%;
		transition: .2s;
	}
	section{
		padding: 2%;
		transition: .1s;
	}
	.contenedor {
		display: block;
		padding-top: 10px;
	  }
	  .contenedor-items{
		  width: 100%;
	  }
	  .carrito{
		  width: 100%;
		  margin: 0;
		  margin-top: 20px;
	  }
	  .contenido{
		margin-top: 1em;
	}
	.contenedor .contenedor-items .item{
		max-width: 100%;
		padding: 20px 0;
	}
	.carrito .carrito-item .carrito-item-titulo{
		font-size: 0.8em;
	}
}

/*Pop up*/

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    z-index: 9999;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
  }
  
  .popup .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .date-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
	color:#3483FA;
  }
  
  .countdown-timer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .countdown-timer span {
    font-size: 3em;
    font-weight: bold;
    padding: 0 10px;
  }
  
  .countdown-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }