@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #100f0f;
}

header {
  width: 100%;
  min-height: calc(100px + 15vw);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

/* .header__wrapper header {
  width: 100%;
  min-height: calc(100px + 15vw);
} */

.header__wrapper .cols__container .left__col {
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.spanActive{
  position: absolute;
  background: #2afa6a;
  width: 23px;
  height: 22px;
  border-radius: 50%;
  bottom: 2px;
  right: 17px;
  border: 2px solid #fff;
}

.header__wrapper .cols__container .left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-top: 75px;
  margin-bottom: 5px;
  color: #fff;
}
.header__wrapper .cols__container .left__col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}
.header__wrapper .cols__container .left__col .about {
  justify-content: space-around;
  position: relative;
  margin: 20px 0;
}
.header__wrapper .cols__container .left__col .about li {
  display: flex;
  flex-direction: column;
  color: #818181;
  font-size: 0.9rem;
}
.header__wrapper .cols__container .left__col .about li span {
  color: #fff;
  font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
  position: absolute;
  content: "";
  bottom: -10px;
  display: block;
  background: #cccccc;
  height: 1px;
  width: 100%;
  margin-bottom: -2px;
}
.header__wrapper .cols__container .content p {
  font-size: 0.9rem;
  color: #ffff;
  line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
  display: flex;
}
.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}

.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 10px;
}
.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
}
.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
  color: #fff;
  font-weight: 600;
}
#JK {
  background: #0091ff;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 10px;
  vertical-align: middle;
  align-content: center;
  height: fit-content;
  width: fit-content;
}

#JK:hover {
  background-color: #0071ff;
}

.header__wrapper .cols__container .right__col nav button:hover {
  opacity: 0.8;
}

/* Responsiveness */

@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}


/*Empieza estilos de grilla*/
@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }

  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/*Grilla de las imagenes, tamaño completo*/
.row {
  padding: 5px;
}

.listaI{
  display: flex;
  flex-wrap: wrap;
}

.imglist{
  height: 40vh;
  flex-grow: 1;
  margin: 5px;
  
}

li .listaI:last-child {
    flex-grow: 10;
}

.imgFavs {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 7px;
}

@media (max-aspect-ratio: 1/1) {
  .imglist {
    height: 30vh;
  }
}
@media (max-height: 480px) {
  .imglist {
    height: 80vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .listaI {
    flex-direction: row;
  }

  .imglist {
    height: auto;
    width: 100%;
  }
  .imgFavs {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

@media (max-width: 800px) {
  .column {
    flex: 25%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
  }
}

/*terminan estilos de grilla*/

/*coments styles*/

* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #9e9e9e;
  padding: 10px 20px;
}
.testimonial-heading span {
  font-size: 1rem;
  color: #f5f5f5;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #282828;
  padding: 20px;
  margin: 1rem;
  cursor: pointer;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile {
  display: flex;
  align-items: center;
}
.name-user {
  display: flex;
  flex-direction: column;
}
.name-user strong {
  color: #ffffff;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span {
  color: #e3e3e3;
  font-size: 0.8rem;
}
.reviews {
  color: #f9d71c;
}
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p {
  font-size: 0.9rem;
  color: #ffffff;
}
.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media (max-width: 400px) {
  .testimonial-box {
    margin-left: 2vw;
  }
}
@media (max-width: 700px) {
  .testimonial-box {
    width: 80%;
    margin-left: 10%;
  }
  .testimonial-heading h1 {
    font-size: 1.4rem;
  }
  #profile-tab-pane {
    width: 80%;
    margin-left: 10%;
  }
  .row {
    width: 90%;
    margin-left: 5%;
  }
}

.left__col {
  width: 100%;
}

@media (max-width: 340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews {
    margin-top: 10px;
  }
}

::selection {
  color: #ffffff;
  background-color: #252525;
}

.nope {
  width: 50%;
  margin: 15% 25% 15% 25%;
}

#profile-tab-pane {
  color: #f5f5f5;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.grilla {
  border-radius: 10px;
  margin: 2px;
}

/*stars*/
* {
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/*form*/
.textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus {
  border-color: #444;
}
.btn {
  height: 45px;
  width: 100%;
  margin: 10px 0;
}
.btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn button:hover {
  background: #1b1b1b;
}

/*New tabs*/
.tabContainer {
  margin-bottom: 15%;
  margin-top: 2rem;
}
.tabContainer .buttonContainer {
  height: 15%;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}
.tabContainer .buttonContainer button {
  width: max-content;
  padding: 1.6vh 3.5vw 1.6vh 3.5vw;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #0071ff;
  border-radius: 10px 10px 0px 0px;
  margin-right: 0.2rem;
  font-size: 0.95rem;
}

.tabContainer .tabPanel {
  color: white;
  box-sizing: border-box;
  font-family: sans-serif;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  display: none;
}

#format {
  border-bottom: white 0.1rem solid;
  width: fit-content;
}

@media (max-width: 700px) {
  .row {
    width: 90%;
    margin-left: 5%;
  }
}

#format {
  margin: auto;
}

.sectionC {
  margin: auto;
  width: fit-content;
}

div.tabPanel:nth-child(4) {
  display: none;
  align-items: stretch;
}

/*Avatar*/
.avatar-edit {
  position: absolute;
  z-index: 1;
  bottom: 0.5px;
}
.avatar-edit input {
  display: none;
}

.avatar-edit input + label {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #0091ff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  font-weight: normal;
}

#iedit {
  color: white;
  margin-top: 0.5rem;
}

.avatar-edit label {
  display: block;
  text-align: center;
}

/*Drag and drop */

.dragDrop {
  display: flex;
  justify-content: center;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  margin: 2rem auto 1.5rem auto;
  text-align: center;
}
#drop-area p{
  margin-top: 1.5rem;
}

#drop-area.highlight {
  background-color: #eee;
}

.newpostform {
  margin-bottom: 10px;
}

.button-newpost {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #4d4d4d;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  margin: 2rem;
}

#imagenp img {
  margin-top: 2rem;
  width: 70%;
}

#progress-bar {
  display: none;
  margin-top: 10px;
  width: 100%;
}

#fileElem {
  display: none;
}

.newpostform {
  width: 80%;
 }

 .newpostform div:first-child{
  width: 80%;
  margin:auto;
 }


 /*styke for newpost inputtext and submit*/
 .newpostform textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  background-color: #222;
  color: white;
  border: 1px solid rgb(219, 213, 213);
  margin-bottom: 1rem;
}

.newpostform button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #0091ff;
  color: #fff;
  float: right;
}
 
/*Estilos de ocultamiento*/
.avatar-editHide{
  display: none;
}

.spanActiveHide{
  position: absolute;
  background: none;
  width: 23px;
  height: 22px;
  border-radius: 50%;
  bottom: 2px;
  right: 17px;
  border: none;
}
